


<div>

<center>
<table>

<tr>
<td>company name</td><td><input type="text" name="companyName" ng-model="companyName"><br></td></tr><br>
<tr><td>Role</td><td><input type="text" name="role" ng-model="role"><br></td></tr>
<tr><td>skillsRequired</td><td><input type="text" name="skillsRequired" ng-model="skillsRequired"><br></tr></td><br>
<tr><td>eligibility</td><td><input type="text" name="eligibility" ng-model="eligibility"><br></td></tr><br>
<tr><td>companyUrl</td><td><input type="text" name="companyUrl" ng-model="companyUrl"><br></td></tr><br>
<tr><td>ctc</td><td><input type="text" name="ctc" ng-model="ctc"><br></td></tr><br>
<tr><td>interviewDate</td><td><input type="text" name="interviewDate" ng-model="interviewDate"><br></td></tr><br>
<tr><td>companyAddress</td><td><input type="text" name="companyAddress" ng-model="companyAddress"><br></td></tr><br>


<center><tr><td><button ng-click="jobs()">Jobs</button></td></tr></center>
</table>
</center>
</div>