<center><div>


<img src="C:\Users\PREM KUMAR\Desktop\prj2\OurChatzFront\WebContent\images\reg.jpg" height="400" width="400"></img><br><br><br>
<form >
<h1>username<br><input type="text" name="username" ng-model="username" required><br>
<h1>password<br><input type="password" name="password" ng-model="password"><br>
<h1>dob<br><input type="text" name="dob" ng-model="dob"><br>
<input type = "file" file-model = "myFile"/>


<button ng-click="register()">Register</button>





</form>

</center>

</div>